.card-deck{
    margin-left: 10%;
    margin-right: 10%;
}

.carousel-indicators li{
    background-color: #1c2a48;
}

.carousel{
    height: 500px;
    margin-top: 2%;
}

.video-player{
    margin-top: 1%;
}

.divider h3{
    text-align: left;
    letter-spacing: 3px;
    font-size: 2em;
    line-height: 35px;
    color: #01579b;
    padding-bottom: 12px;
    margin-left: 4%;
    background: linear-gradient(to right, #01579b 0%, #01579b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
